@charset "utf-8";

body {
  background: #f7f7f7;
  color: #000;
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Poppins", sans-serif;
}

.menu {
  font-size: 22px;
}

.bzyu {
  position: relative;
}

.bzyu img {
  width: 100%;
  display: block;
}

.bzyu-text {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: black;
  text-align: center;
}

.yagai {
  border: 1px solid #333;
  padding: 8px;
  width: 30%;
  min-width: 145px;
  margin-bottom: 10px;
  margin: 0 auto 10px;
}

.nitei {
  background: #fff;
  border: 1px solid #000;
  margin: 20px;
  padding: 15px;
  text-align: center;
}

.nitei h2 {
  margin-top: 10px;
}

.nitei table {
  border-collapse: collapse;
  font-size: 14px;
  margin: 0 auto;
}

.nitei td {
  padding: 4px 12px 4px 0;
}


.news-text h2 {
    text-align: center;
    margin-bottom: 15px;
  }

.news {
  background: #00b3b3;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
}

.news h2 {
  text-align: center;
  color: #000;
}

.news span {
  font-size: 14px;
}

.news-card {
  background: #fff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
}

.hiduke {
  font-size: 12px;
  color: #555;
}

.ticket {
  text-align: center;
  margin: 20px;
}

.ticket a {
  background: #ff6a00;
  color: #fff;
  padding: 12px 40px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
}

.button {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}

.button a {
  width: calc(50% - 5px);
  background: #ff6a00;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.yagai {
  background-color: yellow;
}

.park {
  display: inline;
}

@media (max-width: 767px) {
  .bzyu img {
    width: 100%;
    height: 850px;
    object-fit: cover;
  }

  .park {
    display: block;
  }

  .yagai {
    font-size: 12px;
  }
}

@media (min-width: 768px) {

  body {
    font-size: 15px;
  }

  h1 {
    font-size: 18px;
  }

  

  .news {
    display: grid;
    gap: 15px;
  }

  .news h2 {
    grid-column: 1 / -1;
  }

  .button a {
    width: calc(33.333% - 7px);
  }
}

@media (min-width: 1280px) {

  body {
    font-size: 16px;
  }



  .bzyu-text h2 {
    font-size: 32px;
  }

  .nitei {
    display: grid;
    text-align: left;
    gap: 40px;
  }

  .button a {
    width: calc(25% - 8px);
  }

  .news-text h2 {
    margin-left: 2%;
    margin-bottom: 15px;
  }


}